 @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width : 100%;
    height:100%;
    padding:2% 0;
    background: rgb(233,109,94);
    background: linear-gradient(90deg, rgba(233,109,94,1) 0%, rgba(255,151,96,1) 25%, rgba(255,230,157,1) 70%, rgba(106,126,106,1) 85%, rgba(57,63,95,1) 97%); 

}

.calculator{
    border: 3px solid;
    border-color: rgb(114, 124, 133);
    box-shadow: 0px 12px 18px rgb(121 85 169 );
    width: 22vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    border-radius: 12px;
    background: #556270;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-image: url(pikachu.gif);
background-repeat: no-repeat;
background-position: center;



  }
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    outline: none;
    border:none;
    padding:5%;
    width: 5vw;
    display:flex;
    margin: 2%;
    cursor: pointer;
    background-color: #313131;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    height : 9vh;
    justify-content: center;
    align-items: center;
    border-radius:50%;


}
::selection{
    background-color: rgb(19, 19, 19);
}

textarea{
    margin: 2% 3%;
    resize: none;
    background: none;
    outline: none;
    border: none;
    height: 32vh;
    color: #fff;
    font-size: 1.3rem;
}

button.operator{
    background:#F2BE22;
    color:#F7FFE5;
}


/* random fact generator  */
.wrapper{
    width: 29vw;
   /* background: red;*/
    border-radius: 15px;
    padding : 20px 30px 25px;
    display: inline-block;
    margin-inline-end: 61vw;
    position: absolute;
    



}

.wrapper header{
    font-size: 35px;
    text-align: center;
}

.content{
   margin: 32px 0px;
}

.quote-area{
    display: flex;
    justify-content: center;
}

.quote{
    font-size: 18px;
    text-align: center;
    word-break: break-word;
    color: red;
}

.quote-area i:first-child{
    margin:3px 10px 0px 0px;

}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 3px 10px;
}

.wrapper .next-btn{
    border-top: 1px solid white;
}

.next-btn button{
    border: none;
    outline:none;
    color:red;
    cursor: pointer;
    font-size: 22px;
    padding :13px 22px;
    border-radius: 30px;
    background:white;
    margin-top: 16px;
    margin-left: 9vw;
}





/* Here to change responsiveness for phones */

@media screen and (max-width:600px) {

    .calculator{
        border: 3px solid;
        border-color: rgb(114, 124, 133);
        box-shadow: 0px 12px 18px rgb(121 85 169 );
        width: 200px;
        height:64vh;

        display: flex;
        flex-direction: column;
        padding: 2% 0;
        border-radius: 12px;
        background: #556270;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-image: url(pikachu.gif);
    background-repeat: no-repeat;
    background-position: center;
    
    
    
      }

      textarea{
        margin: 2% 3%;
        resize: none;
        background: none;
        outline: none;
        border: none;
        height: 10vh;
        color: #fff;
        font-size: 1.3rem;
    }


    button{
        outline: none;
        border:none;
        padding:5%;
        width: 9vw;
        display:flex;
        margin: 2%;
        cursor: pointer;
        background-color: #313131;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        height: 5vh;
        justify-content:center;
        align-items:center;
        border-radius:50%;
    
    
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: relative;
        top: 150px;

    }

/* for random generator */

.wrapper{
    
   /* background: red;*/
    border-radius: 15px;
    padding : 20px 30px 25px;
  /* background: red; */
 width: 300px;
 position: absolute;
 top: 540px;
 left: 30px;
 
}

.quote-area{
    display: flex;
    justify-content: center;
    
   
}

.quote{
    font-size: 15px;
    color: red;
}

.next-btn button{
    border: none;
    outline:none;
    color:red;
    cursor: pointer;
    font-size: 1rem;
    padding :13px 22px;
    border-radius: 30px;
    background:white;
    margin-top: 16px;
    margin-left: 26vw;
}

.wrapper header{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

}